.moving-line {
  animation: moveLine 2s ease-in-out infinite;
}

@keyframes moveLine {
  0% {
    transform: translateX(-70%);
  }

  50% {
    transform: translateX(70%);
  }

  100% {
    transform: translateX(-70%);
  }
}

.custom-text-border {
  text-shadow:
    2px 2px 0 var(--background-color),
    -2px 2px 0 var(--background-color),
    2px -2px 0 var(--background-color),
    -2px -2px 0 var(--background-color),
    0 2px 0 var(--background-color),
    0 -2px 0 var(--background-color),
    -2px 0 0 var(--background-color),
    2px 0 0 var(--background-color),
    0px 0px 0 var(--background-color),
    -0px 0px 0 var(--background-color),
    0px -0px 0 var(--background-color),
    -0px -0px 0 var(--background-color),
    0 0px 0 var(--background-color),
    0 -0px 0 var(--background-color),
    -0px 0 0 var(--background-color),
    0px 0 0 var(--background-color);
  letter-spacing: 3px;
}

.homeBg {
  background: url(https://a.storyblok.com/f/159312/147x826/725e1c9c6f/homepage-texture.png), linear-gradient( var(--secondary-color) 0%, rgb(238, 242, 234) 100%);
  background-blend-mode: overlay;
  background-attachment: fixed;
}

.customScroll{
  overflow: auto;
}
.customScroll::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}

.customScroll::-webkit-scrollbar-thumb{
  background-color: var(--primary-color);
  border: 3.5px solid #fff;
  border-radius: 10px;
}

.customScroll::-webkit-scrollbar-track{
  background-color: rgb(255, 255, 255);
}